*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #141414;
    --secondary-color : #576F35;
    --thirth-color : #7A3145;
    --fourth-color : #FBFBFB;
    --font-family-standard: "Inter Tight", sans-serif;
}
html{
    font-size: 10px;
}
.inter-tight {
    font-family: var(--font-family-standard);
}
.container{
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}

@media screen and (min-width :768px){
    .container{
        padding: 32px;
    }
}
@media screen and (min-width :1280px){
    .container{
        padding: 100px;
    }
}