*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #141414;
    --primary-color-rgb: 20, 20, 20;
    --secondary-color: #576F35;
    --thirth-color: #7A3145;
    --fourth-color: #FBFBFB;
    --fourth-color-rgb: 251, 251, 251;
    --font-family-standard: "Inter Tight", sans-serif;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.inter-tight {
    font-family: var(--font-family-standard);
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 80px 20px;
    margin: 0 auto;
}

@media screen and (min-width :768px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (min-width :1280px) {
    .container {
        padding: 100px 100px;
    }
}