@media screen and (min-width: 768px) {
  .your-order {
    gap: 50px;
  }
  .your-order .container {
    gap: 50px;
    padding: 100px 0;
  }
  .your-order-title-text {
    padding: 0px 96px 0px 32px;
    gap: 25px;
  }
  .your-order-title-text h2 {
    font-size: 6.4rem;
    line-height: 64px;
  }

  .your-order-title-text p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
  }
  .your-order-card {
    gap: 25px;
    padding: 0 70px;
  }
  .your-order-left-card {
    gap: 50px;
    padding: 50px 100px;
  }
  .your-order-form {
    gap: 15px;
  }
  .your-order-input {
    font-size: 1.6rem;
    line-height: 20px;
    padding: 16px;
  }
  .your-order-card-text-p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015rem;
  }
  .your-order-button {
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 20px;
  }
  .your-order-right-card {
    padding: 50px;
    gap: 50px;
  }
  .your-order-right-card-text {
    gap: 15px;
  }
  .your-order-right-card-text p {
    font-size: 1.8rem;
    line-height: 20px;
  }
  .your-order-social-networks {
    font-size: 3.2rem;
    line-height: 32px;
    gap: 12px;
  }
  #comment {
    padding: 16px;
  }
}