<!-- Header Tutus -->
<section class="header-section inter-tight">
  <nav class="header-nav">
    <a href="#hero">
      <svg width="168" height="16" class="header-logo">
        <use href="svg/sprite.svg#icon-logo-responsive"></use>
      </svg>
    </a>
    <div class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#how-it-works"
            >how it works</a
          >
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#vegetables"
            >vegetables</a
          >
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#reviews">reviews</a>
        </li>
      </ul>
      <button class="header-menu-button">shop now</button>
    </div>
    <svg width="32" height="32" class="header-hamburger-bar">
      <use href="svg/sprite.svg#icon-menu-bar-responsive"></use>
    </svg>
  </nav>
  <div class="responsive-menu">
    <svg width="32" height="32" class="responsive-close-button">
      <use href="svg/sprite.svg#icon-close-menu-responsive"></use>
    </svg>
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="">how it works</a>
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#vegetables"
            >vegetables</a
          >
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#reviews">reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-menu-button">shop now</button>
  </div>
</section>
