<!-- Header Tutus -->
<header>
  <section class="header-section">
    <nav class="header-nav">
      <a href="#hero">
        <img src="../../svg/logo.svg" alt="logo" />
      </a>
      <div class="header-menu">
        <ul class="header-menu-list">
          <li class="header-menu-list-item">
            <a class="header-menu-list-item-link" href="#hero">how it works</a>
          </li>
          <li class="header-menu-list-item">
            <a class="header-menu-list-item-link" href="#vegetables"
              >vegetables</a
            >
          </li>
          <li class="header-menu-list-item">
            <a class="header-menu-list-item-link" href="#reviews">reviews</a>
          </li>
        </ul>
        <button class="header-menu-button">shop now</button>
      </div>
      <img
        class="header-hamburger-bar"
        src="../../svg/menu-bar.svg"
        alt="hamburger"
      />
    </nav>
  </section>
  <div class="responsive-menu">
    <img
      class="responsive-close-button"
      src="../../svg/close-menu-1.svg"
      alt="logo"
    />
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="">how it works</a>
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#vegetables"
            >vegetables</a
          >
        </li>
        <li class="header-menu-list-item">
          <a class="header-menu-list-item-link" href="#reviews">reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-menu-button">shop now</button>
  </div>
</header>
