.section-hero {
  background-color: var(--secondary-color);
}
.section-hero .container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.hero-right {
  background-image: url("@/img/img-standart/image-3.webp");
  min-height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* RETINA */
@media (min-resolution: 192dpi) {
  .hero-right {
    background-image: url("@/img/img-retina/image-3-2x.webp");
  }
}
.hero-left {
  flex: 1 1 50%;
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 100px 20px 40px 20px;
}
.hero-left h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.015em;
  text-align: left;
}
.hero-left p {
  font-size: 1.4rem;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
}
.hero-right img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}