.advertisement{
    height: min-content;
}
.advertisement .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: initial 1rem;
    text-transform: uppercase;
}
.advertisement .title{
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 12px;
}
.advertisement .description, .advertisement .title{
    width: 100%;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5rem;
    padding: 0 1rem;
}
