@media screen and (min-width :1280px){
    .advertisement .container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .advertisement .description, .advertisement .title{
        flex-basis: content;
        font-size: 7.6rem;
        line-height: 8rem;
    }
}