@media screen and (min-width :375px) {
    .footer-list-contact {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-logo-div {
        display: flex;
        flex-direction: column;
        gap: 14px;

    }

    .footer-logo {
        max-width: 168px;
    }

    .footer-logo-div-whether {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: var(--fourth-color);

    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .footer-list-contact {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-main-div {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-main-container .container {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: var(--thirth-color);
        display: flex;
        flex-direction: column;
        gap: 80px;

    }

    .footer-main-container {}

    .footer-list {
        display: flex;

        flex-direction: column;
        gap: 14px;
    }

    .footer-list-item>a {
        color: var(--fourth-color);
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
    }

    .footer-contacts-p,
    .footer-contacts-p>a {
        color: var(--fourth-color);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.015em;
        text-align: left;

    }

    .footer-privacy-p,
    .footer-privacy-p>a {
        color: rgba(251, 251, 251, 0.5);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.015em;
        text-align: left;
    }

    .footer-privacy {
        display: flex;
        justify-content: space-between;
    }
}