@media screen and (min-width :1280px) {
    .footer-main-div {
        display: flex;
    }

    .footer-logo-div {
        width: calc(100% / 2);
    }

    .footer-list-contact {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 121px;
        width: calc(100% / 2);
    }

    .footer-logo-div-whether {
        font-size: 1.6rem;
    }

    .footer-contacts-p,
    .footer-contacts-p>a {
        font-size: 1.8rem;
    }

    .footer-list {
        width: 50%;
    }

    .footer-main-container {
        padding-bottom: 50px;
        padding-top: 50px;
    }

}