@media screen and (min-width :768px) {
    .footer-logo-div {
        max-width: 265px;
    }

    .footer-list-contact {
        justify-content: space-between;


    }

    .footer-list-item {
        font-size: 3.2rem;
    }

    .footer-contacts {
        font-size: 1.8rem;
    }

    .footer-logo-div-whether {
        font-size: 1.6rem;
    }

    .footer-privacy-p>a,
    .footer-privacy-p {
        font-size: 1.8rem;
    }

    .footer-main-div {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }
}