<!-- Hero Gulay-->
<section id="hero" class="section-hero inter-tight">
  <div class="container">
    <div class="hero-left">
      <div class="hero-left-text-box">
        <h1>ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
        <p>
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
      </div>
    </div>
    <div class="hero-right"></div>
  </div>
</section>
