<div class="container">
  <div class="footer-main-div">
    <div class="footer-logo-div">
      <svg xmlns="http://www.w3.org/2000/svg" class="footer-logo">
        <use href="svg/sprite.svg#icon-logo"></use>
      </svg>
      <p class="footer-logo-div-whether">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-list-contact">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="#how-it-works">how it works</a>
        </li>
        <li class="footer-list-item"><a href="#vegetables">vegetables</a></li>
        <li class="footer-list-item"><a href="#reviews">reviews</a></li>
      </ul>
      <address class="footer-contacts">
        <p class="footer-contacts-p">
          <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        </p>
        <p class="footer-contacts-p">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </p>
      </address>
    </div>
  </div>
  <div class="footer-privacy">
    <p class="footer-privacy-p">
      <a href="/">Privacy Policy</a> / <a href="/">Cookie settings</a>
    </p>
    <p class="footer-privacy-p">&copy;Green Harvest 2023</p>
  </div>
</div>
