<!-- Organic Vegetables Pinar Task-->
<section id="vegetables" class="organic-vegetables">
  <div class="organic-vegetables-div container">
    <div class="organic-vegetables-section-header-content">
      <div class="organic-vegetables-header-setting">
        <h2 class="organic-vegetables-main-header">
          <span id="organic-setting">ORGANIC</span
          ><span id="vegetables-setting">VEGETABLES</span>
        </h2>
      </div>

      <p class="organic-vegetables-main-paragraph">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <div class="organic-vegetables-img-container">
      <ul class="organic-vegetables-img-ul-div-box">
        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">eggplant</h3>
              <p class="organic-vegetables-card-content-price">60 USD / kg</p>
            </div>
            <img
              src="../../img/eggplant.png"
              alt="eggplant"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">leek</h3>
              <p class="organic-vegetables-card-content-price">50 USD / kg</p>
            </div>
            <img
              src="../../img/leek.png"
              alt="leek"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">mushroom</h3>
              <p class="organic-vegetables-card-content-price">40 USD / kg</p>
            </div>
            <img
              src="../../img/mushroom.png"
              alt="mushroom"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">corn</h3>
              <p class="organic-vegetables-card-content-price">60 USD / kg</p>
            </div>
            <img
              src="../../img/corn.png"
              alt="corn"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">
                sweet potatoes
              </h3>
              <p class="organic-vegetables-card-content-price">50 USD / kg</p>
            </div>
            <img
              src="../../img/sweet potatoes.png"
              alt="sweet potatoes"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">carrot</h3>
              <p class="organic-vegetables-card-content-price">40 USD / kg</p>
            </div>
            <img
              src="../../img/carrot.png"
              alt="carrot"
              width="282"
              class="organic-vegetables-img-png"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
