<!-- Organic Vegetables Pinar Task-->
<section id="vegetables" class="organic-vegetables inter-tight">
  <div class="organic-vegetables-div container">
    <div class="organic-vegetables-section-header-content">
      <div class="organic-vegetables-header-setting">
        <h2 class="organic-vegetables-main-header">
          <span id="organic-setting">ORGANIC</span
          ><span id="vegetables-setting">VEGETABLES</span>
        </h2>
      </div>

      <p class="organic-vegetables-main-paragraph">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <div class="organic-vegetables-img-container">
      <ul class="organic-vegetables-img-ul-div-box">
        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">eggplant</h3>
              <p class="organic-vegetables-card-content-price">60 USD / kg</p>
            </div>

            <div class="vegetables-eggplant">
              <img
                srcset="
                  img/img-standart/eggplant.webp  1x,
                  img/img-retina/eggplant-2x.webp 2x
                "
                src="img/img-standart/eggplant.webp"
                alt="eggplant"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">leek</h3>
              <p class="organic-vegetables-card-content-price">50 USD / kg</p>
            </div>

            <div class="vegetables-leek">
              <img
                srcset="
                  img/img-standart/leek.webp  1x,
                  img/img-retina/leek-2x.webp 2x
                "
                src="img/img-standart/leek.webp"
                alt="leek"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">mushroom</h3>
              <p class="organic-vegetables-card-content-price">40 USD / kg</p>
            </div>

            <div class="vegetables-mashroom">
              <img
                srcset="
                  img/img-standart/mushroom.webp  1x,
                  img/img-retina/mushroom-2x.webp 2x
                "
                src="img/img-standart/mushroom.webp"
                alt="mushroom"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">corn</h3>
              <p class="organic-vegetables-card-content-price">60 USD / kg</p>
            </div>

            <div class="vegetables-corn">
              <img
                srcset="
                  img/img-standart/corn.webp  1x,
                  img/img-retina/corn-2x.webp 2x
                "
                src="img/img-standart/corn.webp"
                alt="corn"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">
                sweet potatoes
              </h3>
              <p class="organic-vegetables-card-content-price">50 USD / kg</p>
            </div>

            <div class="vegetables-potatoes">
              <img
                srcset="
                  img/img-standart/sweet-potatoes.webp  1x,
                  img/img-retina/sweet-potatoes-2x.webp 2x
                "
                src="img/img-standart/sweet-potatoes.webp"
                alt="sweet potatoes"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>

        <li class="organic-vegetables-img-li-elements scale-card">
          <div class="organic-vegetables-card-total">
            <div class="organic-vegetables-card-content">
              <h3 class="organic-vegetables-card-content-name">carrot</h3>
              <p class="organic-vegetables-card-content-price">40 USD / kg</p>
            </div>

            <div class="vegetables-carrot">
              <img
                srcset="
                  img/img-standart/carrot.webp  1x,
                  img/img-retina/carrot-2x.webp 2x
                "
                src="img/img-standart/carrot.webp"
                alt="carrot"
                width="282"
                class="organic-vegetables-img-png"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
