<section class="how-it-works-container inter-tight" id="how-it-works">
  <div class="container flex-container">
    <div class="how-it-works-image-container">
      <img
        srcset="
          img/img-standart/image-2.webp  1x,
          img/img-retina/image-2-2x.webp 2x
        "
        src="img/img-standart/image-2.webp"
        alt="woman cutting fruit"
        class="how-it-works-image"
      />
    </div>
    <div class="how-it-works-text-container">
      <div class="main-text-container">
        <p class="how-it-works-main-text inter-tight">
          TO ORDER YOUR
          <span class="main-text-span"> VEGETABLE</span> BASKET,SIMPLY FOLLOW
          THESE<span class="main-text-span"> EASY STEPS</span>
        </p>
      </div>
      <div class="support-text-container">
        <p class="how-it-works-support-text inter-tight">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div class="list-container">
        <ul class="ordered-list-text">
          <li class="list-text inter-tight">
            <div class="list-div"></div>

            <p class="list-item-paragraph-text">
              Just choose
              <span class="ordered-list-span-text inter-tight"
                >the vegetable</span
              >
              you want to order by clicking on the checkboxes
              <span class="ordered-list-span-text inter-tight"
                >next to it.</span
              >
            </p>
          </li>
          <li class="list-text inter-tight">
            <div class="list-div"></div>
            <p class="list-item-paragraph-text">
              Click on
              <span class="ordered-list-span-text inter-tight">the basket </span
              >and fill out the form.
            </p>
          </li>
          <li class="list-text inter-tight">
            <div class="list-div"></div>
            <p class="list-item-paragraph-text">
              Sit back and relax! Your
              <span class="ordered-list-span-text inter-tight"
                >fresh vegetables</span
              >
              basket will be delivered.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="left-bg"></div>
  <div class="right-bg"></div>
</section>
