.section-hero  {
display: flex;
flex-direction: row;
padding: 0%;

}
.inter-tight{
font-family: var(--font-family-standard);
}
.hero-left{
background-color: var(--secondary-color);
color: var(--fourth-color);
flex: 1 1 50%;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 200px;
padding-right: 50px;

}
.hero-left-text-box {
    display: flex;
    flex-direction: column;
    padding-left:32px;
    padding-right: 32px;
    gap: 128px;   
}
.hero-left h1{
    font-size: 7.6rem;
      
}
.hero-left p{
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0.05rem;
    max-width: 603px;
}
.hero-right {
flex: 1 1 50%;
display: flex;
align-items: center;
padding: 0%;

}

.hero-right img {
max-width: 100%;
height: auto;
}
