@media screen and (min-width: 1280px) {
  .section-hero .container {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .hero-left {
    flex: 1 1 50%;
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 28px;
    padding-top: 238px;
    padding-bottom: 50px;
  }
  .hero-left-text-box {
    align-items: end;
    justify-content: space-between;
    gap: 128px;
  }
  .hero-left h1 {
    font-size: 7.6rem;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-align: left;
  }
  .hero-left p {
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-right: 28px;
  }
  .hero-right {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .hero-right img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
