@media screen and (min-width :768px) {
    
    .section-hero{
    display: flex;
    flex-direction: column;
        
    }
    .hero-right img{
    width: 100%;
    }
    .hero-left{
    padding-left:32px;
    padding-right: 32px;
    }
    .hero-left-text-box{
    width: 100%;
    gap:25px;
    margin-bottom: 50px;
    }
    .hero-left-text-box p{
        margin-right: 133px;
    }
}