*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #141414;
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: #576f35;
  --thirth-color: #7a3145;
  --fourth-color: #fbfbfb;
  --border-color: #3cbc81;
  --fourth-color-rgb: 251, 251, 251;
  --font-family-standard: "Inter Tight", sans-serif;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-standard);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.inter-tight {
  font-family: var(--font-family-standard);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 80px 20px;
  margin: 0 auto;
}

/*QUERIES*/

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 100px 100px;
  }
}

.how-it-works-scale {
  transition: transform 0.3s ease;
}

.how-it-works-scale:hover,
.how-it-works-scale:focus {
  transform: scale(1.05);
}

.scale-element {
  transition: transform 0.3s ease;
}

.scale-hover {
  overflow: hidden;
}

.scale-hover:hover .scale-element {
  transform: scale(1.15);
}
