*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #141414;
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: #576f35;
  --thirth-color: #7a3145;
  --fourth-color: #fbfbfb;
  --border-color: #3cbc81;
  --fourth-color-rgb: 251, 251, 251;
  --font-family-standard: "Inter Tight", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

html {
  font-size: 10px;
  scrollbar-width: none;
}

body {
  font-family: var(--font-family-standard);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.inter-tight {
  font-family: var(--font-family-standard);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 80px 20px;
  margin: 0 auto;
}

.hidden-title {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}

/*QUERIES*/
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 100px 100px;
  }

  .scroll-track {
    display: flex !important;
  }
}

.scale-card {
  transition: transform 0.3s ease;
}

.scroll-track {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100vh;
  background-color: transparent;
  z-index: 51;
  display: none;
  mix-blend-mode: screen;
}

.scroll-thumb {
  top: 0;
  right: 0;
  width: 1vw;
  height: 10vh;
  background-color: var(--secondary-color);
  position: absolute;
  transition: background-color 0.3s ease;
  will-change: transform;
}
.scroll-thumb-text{
  rotate: 270deg;
  width: 100%;
  height: 100%;
  color: var(--fourth-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.scroll-thumb:hover,
.scroll-thumb:focus {
  background-color: #5d9933;
}

.scale-card:hover,
.scale-card:focus {
  transform: scale(1.05);
}

.back-to-top-container {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.back-to-top-inner-container {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-chevron-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  fill: #5d9933;
}

.back-to-top-container:hover {
  opacity: 1;
}

.opacity-half {
  opacity: 0.8;
}

::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
