<!-- Your Order Heza -->

<section class="your-order inter-tight">
  <div class="container">
    <div class="your-order-title-text">
      <h2>
        FRESH <span class="span-harvest">HARVEST</span> BOX HAS GOT YOU COVERED
      </h2>
      <p>
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>

    <div class="your-order-card">
      <div class="your-order-left-card">
        <h2>
          ORDERING <span class="span-from-us">FROM US</span> IS QUICK AND EASY!
          FILL OUT <span class="span-the-form">THE FORM</span> BELOW AND WILL
          CONTACT YOU !
        </h2>

        <form class="your-order-form" id="myForm">
          <label for="name">
            <input
              id="name"
              autocomplete="name"
              class="your-order-input"
              type="text"
              placeholder="Full Name"
              pattern="[A-Za-z]"
              required
            />
          </label>
          <p id="error-message-name" class="hidden"></p>
          <label for="email">
            <input
              id="email"
              autocomplete="email"
              class="your-order-input"
              type="email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </label>
          <p id="error-message-email" class="hidden"></p>
          <label for="comment">
            <textarea
              id="comment"
              class="your-order-input your-order-textarea inter-tight"
              placeholder="Comment"
              required
            ></textarea>
          </label>
          <p id="error-message-comment" class="hidden"></p>
          <button
            id="submitButton"
            name="sendBtn"
            class="header-menu-button"
            type="button"
          >
            SEND
          </button>
        </form>
      </div>

      <div class="your-order-right-card">
        <div class="your-order-image">
          <img
            srcset="
              img/img-standart/image-4.webp  1x,
              img/img-retina/image-4-2x.webp 2x
            "
            class="your-order-image"
            src="img/img-standart/image-4.webp"
            alt="your-order-image"
          />
        </div>

        <div class="your-order-right-card-text">
          <p class="you-order-card-text-p">Follow us on our social networks:</p>
          <div class="your-order-social-networks">
            <a target="_blank" href="https://www.instagram.com/goit.turkiye/"
              >instagram</a
            >
            /
            <a
              target="_blank"
              href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
              >facebook</a
            >
            /
            <a
              target="_blank"
              href="https://www.youtube.com/@GoITTurkey?app=desktop"
              >youtube</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
