  #reviews{
    content-visibility: hidden;
  }
  .reviews-card-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    position: relative;
    height: 238px;
    
  }
  .reviews-text-container {
    max-width: 553px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 4rem;
  }
  .reviews-heading {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-color);
  }
  .reviews-customers {
    color: var(--secondary-color);
  }
  .reviews-subheading {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: left;
    color: var(--primary-color);
  }

  .reviews-card-container::-webkit-scrollbar {
    display: none;
  }
  .reviews-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #7a31454d;
    border-radius: 2.4rem;
    padding: 2rem;
    gap: 8px;
    flex: 0 0 100%;
    scroll-snap-align: start;
    cursor: grab;
    margin-bottom: 1rem;
  }
  .reviews-card-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--primary-color);
  }
  .reviews-card-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-align: center;
    color: var(--primary-color);
    opacity: 40%;
  }
  /* ANIMATIONS */
  @keyframes autoscroll {
    from {
      left: 0;
    }
    to {
      left: -200%;
    }
  }
  .reviews-card-container:hover * {
    animation-play-state: paused;
  }
  .reviews-card {
    position: relative;
    top: 0;
    left: 0;
    animation: autoscroll 14s linear 1s infinite alternate forwards;
  }