@import url('header-responsive.css');
@import url('header-tablet.css');
@media screen and (min-width: 1280px) {
  .header-nav {
    background-color: transparent;
    height: 52px;
    padding: 0px 100px;
    max-width: 1440px;
  }
  .header-menu {
    display: flex;
  }
  .header-hamburger-bar {
    display: none;
  }
  .responsive-menu {
    display: none;
  }
  .header-menu-button {
    background-color: var(--thirth-color);
    color: var(--fourth-color);
  }
  .header-menu-button:hover{
    color: var(--thirth-color);
  }
  .header-menu-button::after{
    background-color: var(--fourth-color);
  }
  .bg-bordo{
    background-color: var(--thirth-color);
    border-color: transparent;
  }
  .bg-bordo:hover{
    background-color: var(--fourth-color);
    color: var(--thirth-color);
    
  }
  .bg-green{
    background-color: var(--secondary-color);
    border-color: transparent;
  }
  .bg-green:hover{
    background-color: var(--fourth-color);
    color: var(--secondary-color);
  }
  .border-scroll{
    border: 1px solid rgba(var(--fourth-color-rgb), 0.5);
  }
}