@media screen and (min-width :1280px) {

.organic-vegetables {
       
       
        width: 100%;
        background-color: #7A3145;
        /* padding: 10rem; */
        gap: 5rem;
    }

    .organic-vegetables-div {
        display: flex;
        flex-direction: column;

    }


    .organic-vegetables-section-header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;
        /* max-width: 62.6rem;
        max-height: 19.3rem;
        margin-left: 10rem;
        margin-top: 10rem;
        margin-right: 55.4rem;
        margin-bottom: 5rem; */
    }

    .organic-vegetables-main-header {
        display: flex;
        flex-direction: column;
        max-width: 50.8rem;
        max-height: 12.8rem;
        margin-right: 11.8rem;


    }

    #organic-setting {
        font-size: 6.4rem;
        color: #FBFBFB;
        line-height: 6.4rem;
        font-weight: 600;
        letter-spacing: -1, 5%;
    }

    #vegetables-setting {
        font-size: 6.4rem;
        color: #FBFBFB4D;
        line-height: 6.4rem;
        font-weight: 600;
        letter-spacing: -1, 5%;
    }

    .organic-vegetables-main-paragraph {
        width: 62.6rem;
        height: 4rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        color: #FBFBFB;
        margin-top: 2.5rem;
        margin-bottom: 5rem;

    }

    .organic-vegetables-img-container {

     width: 100%;

    }

    .organic-vegetables-img-ul-div-box {


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.1rem;
/*     
        margin-top: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 10rem; */


    }

    .organic-vegetables-img-li-elements {

        width: 34.6rem;
        height: 37.9rem;
        border-radius: 4rem;
        padding: 3.2rem;
        gap: 1rem;
       width: calc((100% - 4.2rem) / 3);
        list-style-type: none;
        background-color: #FBFBFB;

    }

    .organic-vegetables-card-total {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 28.2rem;
        max-height: 31.5rem;
        gap: 1rem;
        margin: 3.2rem;

    }

    .organic-vegetables-card-content {
        display: flex;
        flex-direction: column;
        margin-right: 15.7rem;
        margin-bottom: 1rem;
        margin-left: 0;
        max-width: 12.5rem;
        gap: 1.2rem;
    }

    .organic-vegetables-card-content-name {
        width: 12.5rem;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 3.2rem;
        letter-spacing: -1, 5%;
        color: #7A3145;

    }

    .organic-vegetables-card-content-price {
        width: 7.6rem;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: -1, 5%;
        color: #141414;

    }

    .organic-vegetables-img-png {
       width: 100%;
        margin-left: 3.2rem;
        margin-right: 3.2rem;
        margin-bottom: 3.2rem;
        margin-top: 1rem;

    }


}


