@media screen and (min-width: 768px) {
  .organic-vegetables {
    padding: 100px 32px;
  }
  .organic-vegetables-div {
    gap: 50px;
  }
  .organic-vegetables-section-header-content {
    gap: 50px;
  }
  #organic-setting {
    font-size: 6.4rem;
    line-height: 64px;
  }
  #vegetables-setting {
    font-size: 6.4rem;
    line-height: 64px;
  }
  .organic-vegetables-main-paragraph {
    width: 626px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 20px;
  }
  .organic-vegetables-img-ul-div-box {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
  }
  .organic-vegetables-img-li-elements {
    padding: 32px 30px;
    width: calc((100% - 28px) / 2);
  }
  .organic-vegetables-card-total {
    gap: 10px;
  }
  .organic-vegetables-card-content-name {
    font-size: 3.2rem;
    line-height: 32px;
  }
}