@import url("organic-vegetables-mobile.css");
@import url("organic-vegetables-tablet.css");

@media screen and (min-width: 1280px) {
  .organic-vegetables-div {
    gap: 50px;
  }
  .organic-vegetables-section-header-content {
    gap: 25px;
  }
  .organic-vegetables {
    padding: 0;
  }
  #organic-setting {
    font-size: 6.4rem;
    line-height: 64px;
  }
  #vegetables-setting {
    font-size: 6.4rem;
    line-height: 64px;
  }
  .organic-vegetables-main-paragraph {
    width: 626px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 20px;
  }
  .organic-vegetables-img-ul-div-box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px;
  }
  .organic-vegetables-img-li-elements {
    padding: 32px;
    width: calc((100% - 42px) / 3);
  }
  .organic-vegetables-card-content-name {
    font-size: 3.2rem;
    line-height: 32px;
  }
  .organic-vegetables-card-content-price {
    font-size: 1.4rem;
    line-height: 18px;
  }
}