@media screen and (min-width: 768px) {
  .advertisement .container {
    padding: 100px 16px;
  }
  .advertisement .discount {
    margin-left: -16px;
  }
  .advertisement .discount,
  .advertisement .title {
    padding-left: 16px;
    padding-right: 16px;
  }
  .advertisement .description,
  .advertisement .title {
    font-size: 6.4rem;
    line-height: 7rem;
  }
  .advertisement .discount {
    display: block;
  }
}
