@media screen and (min-width:768px) {
    .section-two-container {
        display: flex;
        flex-direction: column;
    }
   
   
    .section-two-image-container {
        width: 100%;
        height: 100%;
        background-color: var(--thirth-color);
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section-two-text-container {
        background-color: var(--secondary-color);
        width: 100%;
        height: 100%;
    }
    .section-two-image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 30px;
        color: rgba(104, 49, 49, 0.3); 
    }
    .section-two-main-text {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -1.5%;
        color: var(--fourth-color);
    }
    .main-text-span {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 32px;
        letter-spacing: -1.5%;
        color: rgba(251, 251, 251, 0.3);
    }
    .section-two-support-text {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 20px;
        color: var(--fourth-color);
    }
}