@media screen and (min-width:768px) {
  
   
   
    .how-it-works-image-container {
        padding: 100px 64px;
        
    }
    .how-it-works-text-container {
        background-color: var(--secondary-color);
        width: 100%;
        height: 100%;
        padding-left: 159px;
        padding-right: 159px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .how-it-works-image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        color: rgba(104, 49, 49, 0.3);
        
    }
    .how-it-works-main-text  {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.015rem;
        color: var(--fourth-color);
    }
    .main-text-span {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 32px;
        letter-spacing: -1.5%;
        color: rgba(251, 251, 251, 0.3);
    }
    .how-it-works-support-text {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 20px;
        color: var(--fourth-color);
    }
}