@import url("how-it-works-mobile.css");
@import url("how-it-works-tablet.css");

@media screen and (min-width: 1280px) {
  .how-it-works-container {
    display: flex;
    position: relative;
  }
  .how-it-works-container .container {
    padding: 0;
  }
  .how-it-works-image-container {
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 100px;
  }
  .how-it-works-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px 160px 100px;
    width: 50%;
    gap: 50px;
  }
  .how-it-works-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(104, 49, 49, 0.3);
  }
  .flex-container {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .how-it-works-support-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    color: var(--fourth-color);
  }
  .how-it-works-container .left-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: var(--thirth-color);
    z-index: -1;
  }
  .how-it-works-container .right-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
  }
}