@import url('./how-it-works-mobile.css');
@import url('./how-it-works-tablet.css');

@media screen and (min-width :1280px) {


    .how-it-works-image-container {
        padding: 100px;
        flex: 1 1 50%;
    }

    .how-it-works-text-container {
        padding: 100px 100px 160px 100px;
        flex: 1 1 50%;
    }
    
    .how-it-works-image {
        content: url('../../../img/She-cutting-fruits-desktop.png');  
    }

    .flex-container {
        flex-direction: row;
    }

}