@media screen and (min-width:768px) {
  
   
   
    .how-it-works-image-container {
        padding: 100px 64px;
        
    }
    .how-it-works-text-container {
        padding-left: 159px;
        padding-right: 159px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .how-it-works-image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        color: rgba(104, 49, 49, 0.3);
        content: url('../../../img/woman-cutting-fruits-tablet.png');
    }
   
}