<!-- Reviews şubat -->
<section id="reviews" class="reviews inter-tight">
  <div class="container reviews-container">
    <div class="reviews-text-container">
      <h2 class="inter-tight reviews-heading">
        reviews from our <span class="reviews-customers">customers</span>
      </h2>
      <p class="inter-tight reviews-subheading">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>

    <ul class="reviews-card-container">
      <li class="reviews-card reviews-first-card">
        <div class="reviews-profile-container john-wax-container">
          <img
            srcset="
              img/img-standart/john-wax.webp  1x,
              img/img-retina/john-wax-2x.webp 2x
            "
            src="img/img-standart/john-wax.webp"
            alt="john wax profile picture"
          />
        </div>

        <h2 class="reviews-card-title">John Wax</h2>
        <p class="reviews-card-text">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>

      <li class="reviews-card reviews-second-card">
        <div class="reviews-profile-container victoria-container">
          <img
            srcset="
              img/img-standart/victoria.webp  1x,
              img/img-retina/victoria-2x.webp 2x
            "
            src="img/img-standart/victoria.webp"
            alt="victoria profile picture"
          />
        </div>

        <h2 class="reviews-card-title">Victoria Romashenko</h2>
        <p class="reviews-card-text">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>

      <li class="reviews-card reviews-third-card">
        <div class="reviews-profile-container ihor-container">
          <img
            srcset="img/img-standart/ihor.webp 1x, img/img-retina/ihor-2x.webp 2x"
            src="img/img-standart/ihor.webp"
            alt="ihor profile picture"
          />
        </div>

        <h2 class="reviews-card-title">Ihor Trachuk</h2>
        <p class="reviews-card-text">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
